<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.polypaint.polypaint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
            android:name=".Application.PolyPaint"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activity.ServerActivity"
                  android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name=".Activity.ChatActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.LoginActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.ChatRoomsActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.CreateUserActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.DrawingActivity"/>
        <activity android:name=".Activity.GalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CreateDrawingActivity"/>

    </application>

</manifest>