.container {
    font-family: Verdana;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
    margin-top: 15px;
}

.list {
    padding: 0;
    margin: 0 20px;
}

.noItems {
    margin-top: 7px;
}
